body {
    color: #3b3b3b;
    background: linear-gradient(to bottom, #e6d2af, #ced9b4, #addfcc, #a4deed, #c1d5fa, #dbcff4, #f7c8da, #f9caba);
}

article, section {
	/*background-color: #DDB;*/
}

pre, code {
    background-color: rgba(0,0,0,0.33);
}

a {
    color: #632;
}

article a {
	color: inherit;
}

a:hover {
    color: #000;
}

.archive-link, .archive-link h3, .archive-link time {
	background-color: #BBD;
}

.archive-link p {
    color: #553;
}

.archive-link:hover p {
    background-color: #BBD;
}