body {
    color: #335;
    background: linear-gradient(to bottom right, #886, #ff807e);
}

article, section {
	background-color: #DDB;
}

pre, code {
    background-color: rgba(0,0,0,0.33);
}

a {
    color: #803;
}

article a {
	color: inherit;
}

a:hover {
    color: #000;
}

.archive-link, .archive-link h3, .archive-link time {
	background-color: #BBD;
}

.archive-link p {
    color: #553;
}

.archive-link:hover p {
    background-color: #BBD;
}