body {
    color: #3b3b3b;
    background: linear-gradient(to bottom, #e3d2af, #f9c7d5, #d0d2f9, #a6dfdf, #bcddbc);
}

article, section {
	/*background-color: #DDB;*/
}

pre, code {
    background-color: rgba(0,0,0,0.33);
}

a {
    color: #632;
}

article a {
	color: inherit;
}

a:hover {
    color: #000;
}

.archive-link, .archive-link h3, .archive-link time {
	background-color: #BBD;
}

.archive-link p {
    color: #553;
}

.archive-link:hover p {
    background-color: #BBD;
}